{{ if .Site.Data.social }}
<div class="social">
    {{ range .Site.Data.social }}
        <a href="{{ .link }}" rel="me"><img height="20" width="20" src="{{ .image | relURL }}" title="{{ .name }}" alt="{{ .name }}" /></a>
    {{ end }}
</div>
{{ end }}